{$CADDY_SITE_HOST} {
    encode zstd gzip

    @dav_root path /dav
    redir @dav_root /dav/ 308

    @dav_well_known path /.well-known/caldav /.well-known/carddav
    redir @dav_well_known /dav/ 301

    handle /dav* {
        uri strip_prefix /dav
        reverse_proxy radicale:5232
    }

    handle_path /static/* {
        root * /srv/static
        file_server
    }

    handle_path /media/* {
        root * /srv/media
        file_server
    }

    handle {
        reverse_proxy web:8000
    }
}
