{% extends "subscriptions/base.html" %}

{% block title %}MIO - Accounts{% endblock %}

{% block content %}
  <section class="panel">
    <h1>Accounts</h1>
    <p class="muted">Lista degli account collegati al tuo profilo.</p>
    <div class="actions">
      <a class="btn primary" href="/subs/accounts/add">Nuovo account</a>
    </div>

    {% if accounts %}
      <ul class="list">
        {% for account in accounts %}
          <li>
            <span>{{ account.name }} ({{ account.currency.code }})</span>
            <span class="muted">{{ account.get_kind_display }}</span>
            <span>
              <a class="btn" href="/subs/accounts/update?id={{ account.id }}">Modifica</a>
              <a class="btn" href="/subs/accounts/remove?id={{ account.id }}">Rimuovi</a>
            </span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="note">Nessun account disponibile.</div>
    {% endif %}
  </section>
{% endblock %}
