<div class="field">
  <label for="id_title">Titolo</label>
  {{ form.title }}
</div>
<div class="field">
  <label for="id_item_type">Tipo voce</label>
  {{ form.item_type }}
</div>
<div class="field">
  <label for="id_due_date">Scadenza</label>
  {{ form.due_date }}
</div>
<div class="field">
  <label for="id_due_time">Orario (opzionale)</label>
  {{ form.due_time }}
</div>
<div class="field">
  <label for="id_status">Status</label>
  {{ form.status }}
</div>
<div class="field">
  <label for="id_priority">Priorita</label>
  {{ form.priority }}
</div>
<div class="field">
  <label for="id_project_choice">Progetto</label>
  {{ form.project_choice }}
</div>
<div class="field">
  <label for="id_project_name">Nuovo progetto (se non esiste)</label>
  {{ form.project_name }}
</div>
<div class="field">
  <label for="id_note">Note</label>
  {{ form.note }}
</div>
