{% extends "todo/base.html" %}

{% block title %}MIO - Add Task{% endblock %}

{% block content %}
  <section class="todo-form-page">
    <div class="uk-card uk-card-default uk-card-small uk-card-body todo-card todo-form-card">
      <h1 class="uk-card-title uk-margin-remove-bottom">Nuova voce Todo</h1>
      <p class="uk-text-meta uk-margin-small-top">Crea task, reminder o appuntamento.</p>
    {% if form.errors %}
      <div class="uk-alert-danger uk-padding-small uk-margin-small-top">
        Controlla i campi evidenziati.
        <div class="form-errors">
          {{ form.non_field_errors }}
          {{ form.title.errors }}
          {{ form.item_type.errors }}
          {{ form.due_date.errors }}
          {{ form.due_time.errors }}
          {{ form.status.errors }}
          {{ form.priority.errors }}
          {{ form.project_choice.errors }}
          {{ form.project_name.errors }}
          {{ form.note.errors }}
        </div>
      </div>
    {% endif %}
      <form class="uk-form-stacked uk-margin-small-top" method="post" action="">
        {% csrf_token %}
        {% include "todo/partials/task_form_fields.html" with form=form %}
        <div class="uk-grid-small uk-child-width-1-2 uk-margin-small-top" uk-grid>
          <div>
            <button class="uk-button uk-button-primary uk-button-small uk-width-1-1" type="submit">Salva</button>
          </div>
          <div>
            <a class="uk-button uk-button-default uk-button-small uk-width-1-1" href="/todo/">Annulla</a>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
