{% extends "todo/base.html" %}

{% block title %}MIO - Update Task{% endblock %}

{% block content %}
  <section class="todo-form-page">
    <div class="uk-card uk-card-default uk-card-small uk-card-body todo-card todo-form-card">
      <h1 class="uk-card-title uk-margin-remove-bottom">Aggiorna voce Todo</h1>
      <p class="uk-text-meta uk-margin-small-top">Seleziona un elemento e modifica i dati.</p>

      {% if task %}
        {% if form.errors %}
          <div class="uk-alert-danger uk-padding-small uk-margin-small-top">
            Controlla i campi evidenziati.
            <div class="form-errors">
              {{ form.non_field_errors }}
              {{ form.title.errors }}
              {{ form.item_type.errors }}
              {{ form.due_date.errors }}
              {{ form.due_time.errors }}
              {{ form.status.errors }}
              {{ form.priority.errors }}
              {{ form.project_choice.errors }}
              {{ form.project_name.errors }}
              {{ form.category_choice.errors }}
              {{ form.category_name.errors }}
              {{ form.note.errors }}
            </div>
          </div>
        {% endif %}
        <form class="uk-form-stacked uk-margin-small-top" method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ task.id }}">
          {% include "todo/partials/task_form_fields.html" with form=form %}
          <div class="uk-grid-small uk-child-width-1-2@s uk-margin-small-top" uk-grid>
            <div>
              <button class="uk-button uk-button-primary uk-button-small uk-width-1-1" type="submit">Aggiorna</button>
            </div>
            <div>
              <a class="uk-button uk-button-default uk-button-small uk-width-1-1" href="/todo/">Annulla</a>
            </div>
          </div>
        </form>
      {% else %}
        {% if tasks %}
          <ul class="uk-list uk-list-divider uk-margin-remove todo-list">
            {% for item in tasks %}
              <li class="todo-list-item">
                <div>
                  <div class="uk-text-bold uk-text-small">{{ item.title }}</div>
                  <div class="uk-text-meta">{{ item.get_item_type_display }}</div>
                </div>
                <div class="todo-inline-actions">
                  <a class="uk-button uk-button-default uk-button-small" href="/todo/api/update?id={{ item.id }}">Modifica</a>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <div class="uk-alert-primary uk-padding-small uk-margin-remove">Nessun task disponibile.</div>
        {% endif %}
      {% endif %}
    </div>
  </section>
{% endblock %}
