{% load static %}
<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MI.Organizzo - Archibald{% endblock %}</title>
    {% include "core/partials/uikit_head.html" %}
  </head>
  <body>
    <div class="page">
      {% include "core/partials/site_header.html" with module_subtitle="Archibald" %}

      <main class="content">
        {% block content %}{% endblock %}
      </main>
    </div>
    {% include "core/partials/uikit_body.html" %}
    <script type="module" src="{% static 'core/dist/app.js' %}"></script>
  </body>
</html>
